h1 {
    font-size: 60px;
    font-family:initial;
    font-style: italic;
    }

    h2 {
      font-size: 50px;
      font-family:fantasy;
      font-style: normal;
    }

    p {
      font-size: 25px;
      font-family:cursive;
      font-style: normal;
    }

    body {
      background-color:pink;
    }

    .idade {
      background-color:salmon;
    }

    .nacionalidade {
      background-color: salmon;
    }

    .cidade {
      background-color: salmon;
    }

    .estilodelista {
      font-size: 25px;
    }

    .indice {
      font-size: 20px;
    }

    .comunicacao {
      font-size: 26px;
    }

    .sinceridade {
      font-size: 27px;
    }

    .relacionamento {
      font-size: 28px;
    }

    .comprometimento {
      font-size: 29px;
    }

    .criatividade {
      font-size: 30px;
    }
